/* 0 margin with html and body */
html, body {
  margin: 0;
}

.input-div {
  width: 100%;
  position: fixed;
  top: 20%;
  /* top: 100px; */
  /* left: %; */
  text-align: center;
}

.form-label {
  color: white;
  font-size: 20pt;
}

.login-input {
  width: 50%;
  height: 20px;
  font-size: 15pt;
}

@media screen and (max-height: 600px) {
  .input-div {
    top: 0%;
    left: 0%;
  }
  .login-input {
    right: 0%;
    bottom: 0%;
  }
}

.chat-input {
  position: absolute;
  height: 30px;
  font-size: 16px;
  color: #000000;
  font-style: italic;
  bottom: 0px;
}

.chat-invisible {
  opacity: 0;
}

.chat-visble {
  opacity: 0.4;
}

.chat-bottom {
  left: px;
  width: 100%;
}

.chat-sidebar {
  right: 0px;
  width: 300px;
}
