/* 0 margin with html and body */
html, body {
  margin: 0;
}

.input-div {
  width: 100%;
  position: fixed;
  top: 20%;
  /* top: 100px; */
  /* left: %; */
  text-align: center;
}

.form-label {
  color: white;
  font-size: 20pt;
}

.login-input {
  width: 50%;
  height: 20px;
  font-size: 15pt;
}

@media screen and (max-height: 600px) {
  .input-div {
    top: 0%;
    left: 0%;
  }
  .login-input {
    right: 0%;
    bottom: 0%;
  }
}